
@{
    ViewBag.Title = "EditCustomerBill";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
    List<VehicleInsuranceSem3.BLL.ViewModel.CustomerpolicyViewModel> ss = Session["cspAllView"] as List<VehicleInsuranceSem3.BLL.ViewModel.CustomerpolicyViewModel>;
    var Usacc = ViewData["csbAllView"] as VehicleInsuranceSem3.BLL.ViewModel.CustomerbillinginfoViewModel;
}

<form action="@Url.Action("NewCustomerBill")" method="post">
    <input type="text" value="@Usacc.id" name="id" id="id" hidden />
    <div class="form-group">
        <label for="exampleInputEmail1">Customer Proves:</label>
        <input type="text" class="form-control" id="customeraddprove" name="customeraddprove" aria-describedby="emailHelp" placeholder="customeraddprove" value="@Usacc.customeraddprove">
        
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Bill Number:</label>
        <input type="text" class="form-control" id="bill_number" name="bill_number" aria-describedby="emailHelp" placeholder="bill_number" value="@Usacc.bill_number">
        
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Amount:</label>
        <input type="number" class="form-control" id="amount" name="amount" aria-describedby="emailHelp" placeholder="amount" value="@Usacc.amount">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>



    <div class="form-group">
        <label for="exampleInputPassword1">Date: </label>
        <input type="date" class="form-control" id="createdate" name="createdate" placeholder="createdate" value="@Usacc.createdate.ToString("yyyy-MM-dd")">

    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="isActive" checked>
        <label class="form-check-label" for="isActive">Is Active</label>
    </div>
    <input type="text" name="active" id="active" hidden />


    <div class="form-group">
        <label for="exampleInputPassword1">Customer Policy:</label>
        <select class="form-control" aria-label="Default select example" id="customerpolicyid" name="customerpolicyid" tabindex="@Usacc.customerpolicyid">
            @if (ss != null)
            {

                foreach (var item in ss)
                {
                    if (Usacc.customerpolicyid == item.id)
                    {
                        <option value="@item.id" selected>@item.customeraddprove</option>
                    }
                    else
                    {
                        <option value="@item.id">@item.customeraddprove</option>
                    }
                }
            }

        </select>
    </div>


    <button type="submit" class="btn btn-primary" value="">Submit</button>
    <a href="@Url.Action("CustomerBillManagerl")" style="color:white">Back</a>
</form>


