@model PagedList.IPagedList<VehicleInsuranceSem3.BLL.ViewModel.CompanyexpenseViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "CompanyExpenseManager";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
    List<VehicleInsuranceSem3.BLL.ViewModel.ExpensetypeViewModel> sa = Session["ViewAllExpenseType"] as List<VehicleInsuranceSem3.BLL.ViewModel.ExpensetypeViewModel>;
}

<a class="btn btn-warning" href="@Url.Action("CompanyExpenseViewAll")"> View All </a>
<a class="btn btn-success" href="@Url.Action("CreateCompanyExpense")"> Create Company Expense</a>

<div style="margin-top: 20px" class="input-group">
    <form action="@Url.Action("ComPanySearch")" method="post" class="form-inline">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Search" name="tbSearch" />
        </div>
        <button style="margin-left: 20px" type="submit" class="btn btn-primary" id="button-addon2">
            <i class="fa fa-search"></i>
        </button>
    </form>

    <form style="margin-left: 40px" action="@Url.Action("FilterCompanyExpense")" method="post" class="form-inline">
        <div style="margin-left: 20px" class="form-group">
            <label>Start Date:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" />
        </div>
        <div style="margin-left: 20px" class="form-group">
            <label>End Date:</label>
            <input type="date" class="form-control" id="endDate" name="endDate" />
        </div>
        <div style="margin-left: 20px" class="form-group">
            <button class="btn btn-primary" type="submit">Confirm</button>
        </div>
    </form>
</div>
<hr />
<table class="table table-striped">

    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Type Expense</th>
            <th scope="col">Description</th>


            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        @if (Session["CompanyExpenseViewAll"] != null)
        {
            var ls = (List<VehicleInsuranceSem3.BLL.ViewModel.CompanyexpenseViewModel>)Session["CompanyExpenseViewAll"];
            int i = 1;
            foreach (var item in Model)
            {

                <tr>
                    <td>@i</td>
                    <td>@item.date</td>
                    <td>@item.amount</td>
                    @if (sa != null)
                    {
                        foreach (var tem in sa)
                        {
                            if (item.expensetypeid == tem.id)
                            {
                                <td tabindex="@item.expensetypeid">@tem.name</td>
                            }

                        }
                    }

                    <td>@item.description</td>



                    <td>


                        <a class="btn-btn-fab" href="@Url.Action("EditCompanyExpense", new { id = item.id})" data-idItem="@item.id"><i class="fa fa-edit btn btn-primary"> </i>  </a>
                        <button data-target="#exampleModal" data-toggle="modal" onclick="OpenModal(@item.id)" class="btn btn-danger fa fa-trash"></button>
                    </td>
                </tr>
                i++;
            }
        }



    </tbody>
</table>
<div id='Paging' style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("CompanyExpenseManager", new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Do you really want to delete this record. It can't undo</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="DeleteRecord()">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<input id="hiddenField" name="hiddenField" hidden value="" />
<!-- Modal Notification -->
<div class="modal fade" id="NotiModal" tabindex="-1" role="dialog" aria-labelledby="notiModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notiModalLabel">Notification <i class="fa fa-bell"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Can't delete because there are other records dependent</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

    function OpenModal(id) {
        $("#hiddenField").val(id);
        $("#exampleModal").modal('show');
        console.log($("#hiddenField").val())
    };

    function DeleteRecord() {
        var expenseId = $("#hiddenField").val();
        $("#exampleModal").modal('hide');
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteCompanyExpense")",
            data: { id: expenseId },
            success: function (response) {
                location.reload();
                alert("Delete Success");
            },
            error: function () {
                $("#NotiModal").modal("show");
            }
        });
    };

</script>


