
@{
    ViewBag.Title = "EditCompanyExpense";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";

    List<VehicleInsuranceSem3.BLL.ViewModel.ExpensetypeViewModel> ls = Session["ViewAllExpenseType"] as List<VehicleInsuranceSem3.BLL.ViewModel.ExpensetypeViewModel>;
    var Usacc = ViewData["CompanyExpenseViewAll"] as VehicleInsuranceSem3.BLL.ViewModel.CompanyexpenseViewModel;

}

<form action="@Url.Action("NewCompanyExpense")" method="post">
    <input type="text" value="@Usacc.id" name="id" id="id" hidden />
    
    <div class="form-group">
        <label for="exampleInputPassword1">Date: </label>
        <input type="date" class="form-control" id="dob" name="date" placeholder="" value="@Usacc.date.ToString("yyyy-MM-dd")">
    @*    <p>@Usacc.date</p>*@
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Amount:</label>
        <input type="number" class="form-control" id="amount" name="amount" placeholder="" value="@Usacc.amount" min=" 10" max=" 99999999999">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description:</label>
        <input type="text" class="form-control" id="phone" name="description" placeholder="" value="@Usacc.description">
    </div>
  


    @*<div class="form-check">

        <input type="checkbox" class="form-check-input" id="isActive" checked />
        <label class="form-check-label" for="isActive">Is Active</label>
    </div>
    <input type="text" name="active" id="active" hidden />
*@



    <div class="form-group">
        <label for="exampleInputPassword1">Expense Type:</label>
        <select class="form-control" aria-label="Default select example" id="expensetypeid" name="expensetypeid" tabindex="@Usacc.expensetypeid">
            @if (ls != null)
            {

                foreach (var item in ls)
                {
                    if (Usacc.expensetypeid == item.id)
                    {
                        <option value="@item.id" selected>@item.name</option>
                    }
                    else
                    {
                        <option value="@item.id">@item.name</option>
                    }
                }
            }

        </select>
    </div>
    <button type="submit" class="btn btn-primary" value="">Submit</button>
    <a class="btn btn-warning" href="@Url.Action("CompanyExpenseManager")" style="color:white">Back</a>
</form>
