@model PagedList.IPagedList<VehicleInsuranceSem3.BLL.ViewModel.ExpensetypeViewModel>
    @using PagedList.Mvc;
@{
    ViewBag.Title = "ExpenseTypeManager";
    Layout = "~/Views/Shared/LayOutAdmin.cshtml";
}

<button type="button" class="btn btn-warning"> <a href="@Url.Action("expenseTypeViewAll")"> ViewAll </a></button>
<button type="button" class="btn btn-success"> <a href="@Url.Action("CreateExpenseType")"> CreateProduct</a></button>

<div class="input-group">
    <form action="@Url.Action("expenseTypeSearch")" method="post" class="col-12">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" name="tbSearch" />
            <label class="form-label" for="form1">Search</label>
        </div>
        <button type="submit" class="btn btn-primary" id="button-addon2">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>
<table class="table table-bordered">

    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Active</th>


            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        @if (Session["ViewAllExpenseType"] != null)
        {
            var ls = (List<VehicleInsuranceSem3.BLL.ViewModel.ExpensetypeViewModel>)Session["ViewAllExpenseType"];
            int i = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.name</td>
                    <td>@item.active</td>

                    <td>
                        <a class="btn-btn-fab" href="@Url.Action("EditexpenseType", new { id = item.id})" data-idItem="@item.id"><i class="far fa-edit"> </i>  </a>
                        <a class="btn-btn-fab" data-idItem="@item.id" href="@Url.Action("DeleteExpenseType" , new { id = item.id })"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                i++;
            }
        }



    </tbody>
    </table>
    <div id='Paging' style="text-align:center">
        @Html.PagedListPager(Model, page => Url.Action("ExpenseTypeManager", new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount
    </div>
