@model PagedList.IPagedList<VehicleInsuranceSem3.BLL.ViewModel.CustomerinfoViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "AccManager";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
    VehicleInsuranceSem3.BLL.ViewModel.CustomerinfoViewModel sasdf = new VehicleInsuranceSem3.BLL.ViewModel.CustomerinfoViewModel();
    if (ViewBag.AccManager != null)
    {
        sasdf = ViewBag.AccManager;

    }
}

<a class="btn btn-warning"href="@Url.Action("ViewAllAcc")"> ViewAll </a>
<a class="btn btn-success"href="@Url.Action("CreateAcc")"> CreateProduct</a>

<div style="margin-top: 20px" class="input-group">
    <form action="@Url.Action("AccSearch")" method="post" class="form-inline">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" name="tbSearch" placeholder="Enter Account Name" />
        </div>
        <button style="margin-left: 20px" type="submit" class="btn btn-primary" id="button-addon2">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<hr />

<table class="table table-striped">

    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Active</th>
            <th scope="col">UserName</th>

            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        @if (Session["AllListAcc"] != null)
        {
            var ls = (List<VehicleInsuranceSem3.BLL.ViewModel.CustomerinfoViewModel>)Session["AllListAcc"];
            int i = 0;
            foreach (var item in Model)
            {

                <tr>
                    <td>@i</td>
                    <td>@item.name</td>
                    <td>@item.dob</td>
                    <td>@item.phone</td>
                    <td>@item.email</td>
                    <td>@item.address</td>
                    <td>@item.active</td>
                    <td>@item.username</td>



                    <td>


                        <a class="btn-btn-fab" href="@Url.Action("EditAcc", new { id = item.id})" data-idItem="@item.id"><i class="fa fa-edit"> </i>  </a>
                        <a class="btn-btn-fab" data-idItem="@item.id" href="@Url.Action("DeleteAcc" , new { id = item.id })"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                i++;
            }
        }



    </tbody>

</table>
<div id='Paging' style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("AccManager", new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount
</div>



