@model PagedList.IPagedList<VehicleInsuranceSem3.BLL.ViewModel.CustomerinfoViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "AccManager";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
    VehicleInsuranceSem3.BLL.ViewModel.CustomerinfoViewModel sasdf = new VehicleInsuranceSem3.BLL.ViewModel.CustomerinfoViewModel();
    if (ViewBag.AccManager != null)
    {
        sasdf = ViewBag.AccManager;

    }
}

<a id="viewAll" class=" btn btn-warning" href="@Url.Action("ViewAllAcc")"> View All </a>
<a class="btn btn-success" href="@Url.Action("CreateAcc")"> Create Customer Account</a>

<div style="margin-top: 20px" class="input-group">
    <form action="@Url.Action("AccSearch")" method="post" class="form-inline">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" name="tbSearch" placeholder="Enter Account Name" />
        </div>
        <button style="margin-left: 20px" type="submit" class="btn btn-primary" id="button-addon2">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<hr />

<table class="table table-striped" onload="myFunction()">

    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Active</th>
            <th scope="col">UserName</th>

            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        @{
            var ls = (List<VehicleInsuranceSem3.BLL.ViewModel.CustomerinfoViewModel>)Session["AllListAcc"];
            int i = 0;
            foreach (var item in Model)
            {

                <tr>
                    <td>@i</td>
                    <td>@item.name</td>
                    <td>@item.dob</td>
                    <td>@item.phone</td>
                    <td>@item.email</td>
                    <td>@item.address</td>
                    <td>@item.active</td>
                    <td>@item.username</td>

                    <td>
                        <a class="btn-btn-fab" href="@Url.Action("EditAcc", new { id = item.id})" data-idItem="@item.id"><i class="fa fa-edit btn btn-primary"> </i>  </a>
                        <button data-target="#exampleModal" data-toggle="modal" onclick="OpenModal(@item.id)" class="btn btn-danger fa fa-trash"></button>
                        <a class="btn btn-warning" data-idItem="@item.id" href="@Url.Action("ShowCustomerPolicyHistory", new { id = item.id, customerName = item.name})"><i class="fa fa-list"></i></a>
                    </td>
                </tr>
                i++;

            }

        }



    </tbody>

</table>
<div id='Paging' style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("AccManager", new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Do you really want to delete this record. It can't undo</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="DeleteRecord()">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<input id="hiddenField" name="hiddenField" hidden value="" />

<!-- Modal Notification -->
<div class="modal fade" id="NotiModal" tabindex="-1" role="dialog" aria-labelledby="notiModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notiModalLabel">Notification <i class="fa fa-bell"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Can't delete because there are other records dependent</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    function OpenModal(id) {
        $("#hiddenField").val(id);
        $("#exampleModal").modal('show');
        console.log($("#hiddenField").val())
    };

    function DeleteRecord() {
        var accId = $("#hiddenField").val();
        $("#exampleModal").modal('hide');
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteAcc")",
            data: { id: accId },
            success: function (response) {
                location.reload();
                alert("Delete Success");
            },
            error: function () {
                $("#NotiModal").modal("show");
            }
        });
    };
</script>


