@model PagedList.IPagedList<VehicleInsuranceSem3.BLL.ViewModel.UsertypeViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "UserTypeManager";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
    VehicleInsuranceSem3.BLL.ViewModel.UsertypeViewModel x = new VehicleInsuranceSem3.BLL.ViewModel.UsertypeViewModel();
    if (ViewBag.UserTypeManager != null)
    {
        x = ViewBag.UserTypeManager;

    }
}

<a class="btn btn-warning" href="@Url.Action("ViewUserType")"> View All </a>
<a class="btn btn-success" href="@Url.Action("CreateUsType")"> Create User Type</a>

<div style="margin-top: 20px" class="input-group">
    <form action="@Url.Action("UserTypeSearch")" method="post" class="form-inline">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" name="tbSearch" placeholder="Search User Type" />
        </div>
        <button style="margin-left: 20px" type="submit" class="btn btn-primary" id="button-addon2">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>
<hr />
<table class="table table-striped">

    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Active</th>


            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        @{
            var ls = (List<VehicleInsuranceSem3.BLL.ViewModel.UsertypeViewModel>)Session["AllListUsType"];
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.name</td>
                    <td>@item.active</td>

                    <td>
                        <a class="btn-btn-fab" href="@Url.Action("EdituserType", new { id = item.id})" data-idItem="@item.id"><i class="fa fa-edit btn btn-primary"> </i>  </a>
                        <a class="btn-btn-fab" data-idItem="@item.id" href="@Url.Action("DeleteUSType" , new { id = item.id })"><i class="fa fa-trash btn btn-danger"></i></a>
                    </td>
                </tr>
                i++;
            }
        }



    </tbody>

</table>
<div id='Paging' style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("UserTypeManager", new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount
</div>

